<h4>HW4 - Part1</h4>
<table>
    <caption>My Books</caption>
    <thead [hidden]="showHeader()">
        <tr>
            <th>Title</th>
            <th>Qty</th>
            <th>UnitPrice</th>
            <th>$UnitPrice</th>
            <th>Line Total</th>
            <th>Total {{getTotal() | currency}}</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let book of bookList; let i=index">
            <td><input [(ngModel)]="book.title" size="20"></td>
            <td><input [(ngModel)]="book.qty" size="5"></td>
            <td><input [(ngModel)]="book.price" size="8"></td>
            <td>{{book.price | currency}}</td>
            <td>{{book.price * book.qty | currency}}</td>
            <td><button (click)="removeBook(i)">Remove</button></td>
        </tr>
    </tbody>
    <tfoot>
        <tr>
            <td><button (click)="newBook()">New</button></td>
            <td></td>
            <td></td>
            <td><button (click)="saveBooks()">Save</button></td>
            <td></td>
            <td></td>
        </tr>
    </tfoot> 
</table>