.answerBlock {
    display: flex;
    height: 10vh;
    width: 46vw;
    background-color: honeydew;
    justify-content: center;
    align-items: center;
    cursor: grab;
}

.correct-answer {
    background-color: lightgreen;
}